* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Krona One', sans-serif;;
}

/* debug */


/* .container {
    background-color: yellow;
} */

/* .box {
    border: 10px solid blue;
} */


/* fine debug */


.container{
    
}

.clearfix {
    display: table;
    content: " ";
    clear:both;
}

.ancore {
    float: right;
    position: fixed;
    top: 30px;
    right: 15px;
}

.ancore li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 50px;

}

.box:nth-child(1) {
    background-color: #ff0000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(2) {
    background-color: #008000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(3) {
    background-color: #ffff00;
    width: 100%;
    height: 100vh;
}
