* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Krona One', sans-serif;;
}

img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

h2 {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-size: 50px;
    text-align: center;
}

h4 {
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-size: 35px;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;
}
/* debug */


/* .container {
    background-color: yellow;
} */

/* .box {
    border: 10px solid blue;
} */


/* fine debug */


.container{
    
}

.clearfix {
    display: table;
    content: " ";
    clear:both;
}

.ancore {
    float: right;
    position: fixed;
    top: 30px;
    right: 15px;
    z-index: 2;
    
    
}

.ancore li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 50px;
}


.box {
    position:relative;
}

.box:nth-child(1) {
    background-color: #ff0000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(2) {
    background-color: #008000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(3) {
    background-color: #ffff00;
    width: 100%;
    height: 100vh;
}

#scarpa1 ~ h4 {
    color :red;
}

#scarpa2 ~ h4 {
    color: green;
}

#scarpa3 ~ h4 {
    color: yellow;
}



.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0, 0.1);
}

.box:hover .layover{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
