* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.container {
    background-color: yellow;
}
.box {
    border: 2px solid balck;
}
/* fine debug */

.box:nth-child(1) {
    background-color: #ff0000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(2) {
    background-color: #008000;
    width: 100%;
    height: 100vh;
}

.box:nth-child(3) {
    background-color: #ffff00;
    width: 100%;
    height: 100vh;
}




.container{
}